target/
build/

.idea/
.classpath
.project
.settings/
.iml

.gradle/
.gradletasknamecache
.gradle/buildOutputCleanup
.mvn/
.DS_Store
.spotbugs/
temp/

.editorconfig

*.log

application.properties
application.yml